* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: #0a0a0a;
}
section{
    width: 100vh;
    align-content: 
}
}
/* h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    text-align: center;
    color: white; */
}
div{
    
    justify-content: space-evenly;
    align-items: center;
}
#carta {
    width: 840px;
    height: 670px;
    margin-left: 250px;
    padding: 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}

.memoria {
    width: calc(25% - 10px);
    height: 33%;
    margin: 5px;
    transform-style: preserve-3d;
    transition: 0.3s;
    position: relative;
}

.memoria:active {
    transform: scale(0.97);
}

.memoria.flip {
    transform: rotateY(180deg);
}

.frente,
.verso {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    background: #05C7F2;
}

.frente {
    transform: rotateY(180deg);
}
