body{
    background-color: rgb(237, 243, 217);
}    
.jogo{
    width: 800px;
    height: 650px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    }
.carta {
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
    }
.carta:active{
    transform: scale(0.50);
    }
.carta.virar {
    transform: rotateY(180deg);
      }
.frente{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    }
    
 